$header-footer-color: #888;
$general-font-size: 16px;
$color-title: #fff;
$main-color: #999;
$brand-color: #000;

.row {
	margin: 0 -12px;
}
.cards-product {
	display: flex;
	flex-wrap: wrap;
}
.card-product {
	font-family: "OpenSans Light", sans-serif;
	padding: 0 12px;
	box-sizing: border-box;
	width: 33.33%;
	margin-bottom: 52px;
	.img-box {
		margin-bottom: $general-font-size;
	}
	.card-body {
		padding-left: 21px; 
	}
	.card-title {
		font-size: $general-font-size + 14px;
		color: $brand-color;
		margin-bottom: 13px;
	}
	.card-description {
		font-size: $general-font-size;
		color: $main-color;
		margin-bottom: 21px;
		line-height: 23px;

	}
}

@media (max-width: 700px) {
    .card-product {
    	display: flex;
    	width: 100%;
    	.card-header {
    		margin-right: 2px;
    	}
    }
}
@media (max-width: 600px) {
    .card-product {
    	display: flex;
    	flex-direction: column;
    	.card-header {
    		margin: 0 auto;
    	}
    }
}

