@import url("card-product.scss");
@import url("section.scss");
@import url("navbar.scss");
@import url("slick.scss");
@import url("button.scss");

@font-face {
  font-family: 'shopy';
  src:  url('../images/fonts/shopy.eot?rqcodw');
  src:  url('../images/fonts/shopy.eot?rqcodw#iefix') format('embedded-opentype'),
    url('../images/fonts/shopy.ttf?rqcodw') format('truetype'),
    url('../images/fonts/shopy.woff?rqcodw') format('woff'),
    url('../images/fonts/shopy.svg?rqcodw#shopy') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'shopy' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart-icon6:before {
  content: "\e90a";
}
.icon-planet:before {
  content: "\e907";
}
.icon-twit:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e905";
}
.icon-cart2:before {
  content: "\e909";
}
.icon-user2:before {
  content: "\e908";
}
.icon-heart-o:before {
  content: "\e906";
}
.icon-slick-prev:before {
  content: "\e90b";
}
.icon-google:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\ea90";
}

/*@font-face {
  font-family: 'shopy';
  src:  url('../images/fonts/shopy.eot?auflqa');
  src:  url('../images/fonts/shopy.eot?auflqa#iefix') format('embedded-opentype'),
    url('../images/fsonts/shopy.ttf?auflqa') format('truetype'),
    url('../images/fonts/shopy.woff?auflqa') format('woff'),
    url('../images/fonts/shopy.svg?auflqa#shopy') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'shopy' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
.icon-cart2:before {
  content: "\e909";
}
.icon-user2:before {
  content: "\e908";
}
.icon-planet:before {
  content: "\e907";
}
.icon-twit:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e905";
}
.icon-heart-o:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-google:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\ea90";
}
*/
body {
    margin: 0;
    font-family: 'OpenSans', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container::after,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    position: relative;
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

$header-footer-color: #888;
$general-font-size: 55px;
$color-title: #fff;
$main-color: #999;

body {
   font-family: "OpenSans", sans-serif;
   margin: 0;
}
/*
.header {
	display: flex;
	top: 0;
}

