@import url("card-product.scss");
@import url("section.scss");
@import url("navbar.scss");
@import url("slick.scss");


body {
  margin: 0;
  font-family: 'OpenSans', sans-serif; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.container::after,
.clearfix::after {
  content: '';
  display: table;
  clear: both; }

img {
  max-width: 100%;
  height: auto; }

.wrapper {
  position: relative; }

.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  height: 100%; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: "OpenSans", sans-serif;
  margin: 0; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0; }
