$header-footer-color: #888;
$general-font-size: 16px;
$color-title: #fff;
$main-color: #999;

.active {
   color: #000;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 30px 0 25px;
	align-items: center;
}

.navbar-right {
  	display: flex;
  }

.navbar-toggler {
	display: none;
}

.navbar-collapse {
	display: flex;
}

.social-box .social {
    display: flex;
    justify-content: space-between;
}

.navbar-collapse li,
.social li {
	padding: 0 30px;
	 a {
	 	color: $header-footer-color;
	 }
}
.social a {
	color: #000;
}


@media (max-width: 700px) {
	.navbar-toggler {
       position: relative;
       display: block;
	}

	.navbar-collapse {
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		background: rgba(237, 228, 228, 0.9);
		z-index: 1000;
	}

	.navbar-collapse li {
	   border-bottom: 1px solid #fff;
       display: flex;
       justify-content: center;
       padding: 15px 0;
	}

    .navbar-collapse {
    	display: none;
    }

    .navbar-right {
    	display: flex;
    	flex-direction: row-reverse;
    }
 }