@charset "UTF-8";
@font-face {
  font-family: 'justice';
  src: url("../fonts/justice.eot?4bfb80");
  src: url("../fonts/justice.eot?4bfb80#iefix") format("embedded-opentype"), url("../fonts/justice.ttf?4bfb80") format("truetype"), url("../fonts/justice.woff?4bfb80") format("woff"), url("../fonts/justice.svg?4bfb80#justice") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'justice' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cart-icon6:before {
  content: ""; }

.icon-planet:before {
  content: ""; }

.icon-twit:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-user2:before {
  content: ""; }

.icon-cart2:before {
  content: ""; }

.icon-slick-prev:before {
  content: ""; }

.icon-google:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }
