$icomoon-font-path: "fonts" !default;

$icon-cart-icon6: "\e90a";
$icon-planet: "\e907";
$icon-twit: "\e902";
$icon-search: "\e904";
$icon-user2: "\e908";
$icon-cart2: "\e909";
$icon-slick-prev: "\e90b";
$icon-google: "\e900";
$icon-instagram: "\e901";
$icon-facebook: "\ea90";

